.chart_pro{
    padding: 10px;
    height: 20vw;
    width: 30vw;
    background-color: white;
    margin-bottom: 15px;
    transition: 0.2s;
    // margin-left: auto;
    // margin-right: auto;
    margin-top: 1rem;
    // border: solid black;
}
.charts_pro{
    canvas {
        height: 19vw !important;
        width: 25vw !important;
        // border: solid black;
    }
    width: 100%;
    // margin-left: 5rem;
    // height: unset;
    border: solid black;
   
    padding: 0 1rem;

    .Val{
        width: 40%;
        font-size: 1.6rem;
        margin-top: 1vw;
        // border : solid black;
        margin-left: 2vw;
        color: $grey_text;
        span{
            font-size: 1.8rem;
            margin-right: 1vw;
        }
    }
}
.report_box{
    width: 93%;
    height: 36rem;
    // border: solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.5rem 0.5rem;
}
.report_icons{
//    margin-left: 82%;
    img{
        height: 20px;
        margin-right: 15px;
        cursor: pointer;
    }

    // #blue_grid{
    //     height: 40px;
    // }

    .black{
        display: none;
    }
    .blue{
        display: unset;
    }

    display: flex;
    flex-direction: row;
    align-items: center;

    input{
        width: 8.9rem;
        margin-right: 15px;
        background-color: transparent;
        font-size: 0.9rem;
        border: transparent;
        border-bottom: 1px solid $l_grey_text;
    }

}

#report_period{
    width: 6rem;
    margin-right: 1rem;
}

.report_upper{
    width: 83%;
    margin-left: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .left_head{
        font-size: 1.5rem;
    }
    margin-bottom: 0.2rem;
    margin-top: 0.5rem;
}

.grid_report{
    width: 93%;
    height: 15rem;
    // border: solid black;
    // margin-left: 5rem;
}

.grid_box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.5rem 2rem;

}
.grid_tab{
    width: 30rem;
    height: 6rem;
    
    padding: 1rem ;
    font-weight: 500;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    

    // align-items: center;

    .percent{
        font-size: 1rem;
        color: red;
        margin-left: 15px;
    }
    .value{
    font-size: 1.4rem;
    font-weight: 500;
    }
   
}

.ul{
    border-bottom: 1px solid $l_grey_text;
    border-right: 1px solid $l_grey_text;

}
.ur{
    border-bottom: 1px solid $l_grey_text;
    
}
.bl{
    border-right: 1px solid $l_grey_text;

}
