.task_man{
    width: 75%;
    // border: solid black;
    margin-left: 2.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.whole_box{
    width: 25%;
    // margin-left: auto;
    // margin-right: auto;
    height: 150px;
    // border: 1px solid $l_grey_text;

    .header{
        width: 100%;
        padding:0 5%;
        height: 60px;
        font-size: 1.4rem;
        font-weight: 600;
        color: white;
        background-color: $pri_color;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        img{
            height: 25px;
            cursor: pointer;
        }

        .add_cover:hover .helper{
            display: unset;
        }
    }
    .tasks{
         width: 100%;
         background-color: white;
         padding: 5%;   
         margin: 10px 0;
         border: 1px solid $pri_color;
         font-size: 1.1rem;
         cursor: pointer;
    }
    .new_task{
        width: 100%;
        background-color: white;
        height: 90px;
        margin: 10px 0;
        overflow: hidden;
        background-color: white;
        border: 1px solid $pri_color;
        cursor: pointer;
        .new_input{
            width: 100%;
            // padding: 2%;
            height: 60%;
            border: solid black;
            font-size: 1.1rem;     
            outline: none;
        }


   }
}

.notes_cont{
    border: 1px solid $l_grey_text;
    width: 70%;
    background-color: white;

}

.task_details{
    width: 100%;
    background-color: white;

    .header{
        width: 100%;
        background-color: $pri_color;
        height: 55px;
        padding: 1.5% 5%;
        color: white;
        font-size: 1.4rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        img{
            height: 25px;
            cursor: pointer;
        
        }
    }

    .sub_tasks{
        width: 100%;
        padding: 15px;
        display: flex;
        flex-direction: row;
        font-size: 1.2rem;
        // justify-content: space-evenly;
        // border: solid black;

        .id_st{
            width: 5%;
            // border: solid black;
            text-align: center;
        }
        .text_st{
            width: 70%;
            // border: solid black;
            
        }
        .date_st{
            width: 20%;
            // border: solid black;
        }
    }
    .img_td{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        font-size: 1rem;
        width: 27%;
        // border : solid black
    }
}

.add_sub_tasks{
    width: 100%;
        padding: 15px;
     
        font-size: 1.2rem;
    textarea{
        width: 100%;
    }
}