.ledger_tab{
    width: 100%;
    min-width: 90rem;

    // border: solid black;
}
.acc_pro_table{
     border-spacing: 0;
     border-collapse: collapse;
     border-style: hidden;
     width: 100%;
  

  th{
      margin-bottom: 10px;
  }
  td{
      text-align: center;
  }

  .tr_acc{
    background-color: white;
}

.td_date{
    width: 8rem;
}

.td_bill{
    width: 11rem;
}
  
}

.acc_pro_ledger_upper{
    display: flex;
    flex-direction: row;
    // justify-content: space-evenly;
    align-items: center;
    margin-bottom: 0.3rem;
}
.ledger_upp_right_div{
    display: flex;
    flex-direction: row;
    // justify-content: space-evenly; 
    width: 40rem;
    font-size: 1.1rem;
    margin-left: 30rem;
}
.upp_date{
    font-size: 1.5rem;
    color: $grey_text;
    margin-left: 3rem;
    display: flex;
    flex-direction: row;
    input{
        font-size: 1.2rem;
        border: transparent;
        background: transparent;
        cursor: pointer;
        margin-right: 1.5rem;
    }
    label{
        font-size: 1.2rem;
        font-weight: 600;
        color: black;
        margin-left: 2rem;
    }

}
.upp_head{
    font-size: 1.2rem;
    font-weight: 600;
    // margin-right: 1rem;
}
.ledger_upp_right{
    margin-right: 2rem;
}

.acc_modal{
  img{
      height : 25px;
      cursor: pointer;
  }
 }

.modal{
    width: 30rem;
    height: 20rem;
    margin-top: 15rem;
    margin-left: auto;
    margin-right: auto;
    // border: solid white;
    background-color: white;
	box-shadow: 0px 3px 10px #d0d0d0;
    border: solid transparent;
    opacity: 1
}
.acc_modal_head{
    font-size: 1.6rem;
    font-weight: 600;
    border-bottom: 2px solid $pri_color;
    width: 100%;
    padding: 1rem;
    color: $pri_color;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.acc_modal_text{
    margin-left: 4rem;
    margin-right: 3rem;
    width: 18rem;
    // border: solid black;
}
.acc_modal_below{
    margin-top: 1rem;
    margin-left: 2rem;
    font-size: 1.2rem;
}

.print_details{
    // visibility: hidden;
    display: none;
    font-size: 1.5rem;
}

.date_print_modal{
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    input{
        width: 10rem;
        margin-right: 1rem;
    }
}
.parti_agent{
    margin-left: 2rem;
}
#print_particulars{
    margin-right: 1rem;
}

.submit_modal{
    margin-left: 10rem;
    margin-top: 2rem;
}

.print_btn_modal{
    padding: 0.6rem 2rem;
    background-color: $pri_color;
    border: solid $pri_color;
    font-size: 1.1rem;
    color: white;
    border-radius: 30px;
    cursor: pointer;
}

.checkboxes_search{
    display: flex;
    flex-direction: row;
    margin-bottom: 0.3rem;
    align-items: center;
    input[type=radio]{
        width: 2rem;
        height: 1rem;
        border: solid transparent;
        margin-left: 5px;
    }
}

.filter{
    display: flex;
    flex-direction: column;
    // align-items: center;
    margin-left: 0.5rem;
    margin-right: 1rem;
    input[type=search]{
        width: 100%;
    }
}

.btn_search{
    margin-top: 1.5rem;
    margin-right: 0.5rem;
    // background-color: ;
    // color: $pri_color;
    // border: solid $pri_color;
    cursor: pointer;
}
.btn_search:hover{
    background-color: $pri_color;
    color: white;
    border: solid $pri_color;

}

@media print {

body{
    visibility: hidden;
}

.print_table {
    visibility: visible;
    width: 50rem;
    position: absolute;
    left: 0px;
    top: 30px;
}


}