@import "../base/settings";

.tbtn {
  cursor: pointer;
  span {
    color: blue;
    text-decoration: underline;
  }
}

.tbtn:hover {
  span {
    color: darkblue;
    text-decoration: underline;
  }
}

#empty {
  color: #707070;
  width: 200px;
  margin-left: auto;
  margin-right: auto;

  margin-top: 70px;
}
.pro_con {
  height: auto;
  min-height: 300px;
  width: 80%;
  margin: 10px 20px;
  border-radius: 10px;
  //	background-color:white;
  //padding:20px 5px;
  //  box-shadow:0px 5px 10px gray;
}
.pro_con_con {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#accounting_pro_table {
  width: 100%;
}

.det_cont {
  width: 90%;
  min-width: 40rem;
  background-color: white;
  height: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid rgb(172, 172, 172);
  border-radius: 10px;
  margin-bottom: 0.6rem;
  box-shadow: 2px 2px 4px #a0a0a0;
  transition: 0.3s;
  cursor: pointer;
}
.det_cont:hover {
  box-shadow: 0px 0px 2px #d0d0d0;
}
.det_cont_left {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  justify-content: space-evenly;
  width: 45rem;
  // border: solid black;
}
.det_cont_right {
  display: flex;
  // margin-right: 1rem;
  flex-direction: column;
  justify-content: space-evenly;
  width: 20rem;
  // border: solid black;
}
.acc_name {
  color: $pri_color;
  font-size: 1.3rem;
  font-weight: 600;
}
.acc_type {
  color: $dark;
  font-size: 1.1rem;
  font-weight: 500;
  margin-left: 10px;
}
.acc_id {
  color: $dark;
  font-size: 1.2rem;
  font-weight: 400;
}
.acc_print {
  color: $dark;
  font-size: 1.1rem;
  font-weight: 500;
  margin-left: 1rem;
}
.acc_adress_head {
  font-size: 1.2rem;
  font-weight: 600;
  color: $dark;
}
.acc_adress {
  font-size: 1.2rem;
  color: $dark;
  margin-left: 1rem;
}
.acc_gst {
  margin-bottom: 2rem;
  font-size: 1.1rem;
  color: $dark;
}
.acc_ph {
  font-size: 1.1rem;
  color: $dark;
}
.acc_right {
  font-size: 1.2rem;
  font-weight: 600;
  color: $dark;
}
.det_cont_icons {
  display: flex;
  flex-direction: column;
  // margin-left : 1rem;
  justify-content: space-evenly;
  width: 3.5rem;
  // border: solid black;
  img {
    height: 24px;
    cursor: pointer;
  }
}
.det_cont_pro {
  width: 20%;
  background-color: white;
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgb(172, 172, 172);
  border-radius: 10px;
  margin-bottom: 0.8rem;
  margin-right: 0.9rem;
  box-shadow: 2px 2px 4px #a0a0a0;
  transition: 0.3s;
}
.det_cont_pro:hover {
  box-shadow: 0px 0px 2px #d0d0d0;
}
.det_sub_cont {
  // border: solid black;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  height: 60px;
}
.pro_name {
  color: $pri_color;
  font-size: 1.3rem;
  font-weight: 600;
  // border: solid black;
}
.pro_num {
  font-size: 1.2rem;
  color: $dark;
  // border: solid black;
}
.det_acc_div {
  cursor: pointer;
}
.det_cont_icons_pro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  width: 84%;
  img {
    height: 20px;
    cursor: pointer;
    margin-left: 1rem;
  }
}
.filter_acc {
  background-color: white;
  position: absolute;
  left: 82%;
  width: 13%;
  max-width: 170px;
  text-align: center;
  box-shadow: 0px 2px 10px #aaaaaa;
  border-radius: 5px;

  input {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }
  li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;
    padding-top: 3px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
  }
  ul {
    text-align: center;
    margin: 0px;
    margin-left: 0;
    padding-left: 0px;
    padding: 10px;
  }
  h2 {
    margin: 10px;
    color: #505050;
  }
}
