@import "../base/settings";

// delete component styles 

.delete_con{

    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50% , -70%);
    background-color: white;
    height: 200px;
    width: 400px;
    border: solid 1px gray;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 10px 30px 10px;
    box-sizing: border-box;
    z-index: 55;
    box-shadow: 1px 1px 10px rgb(68, 68, 68);
}
.delete_btn_con {
    display: flex;
    justify-content: space-evenly;
}


.tbtn {
    cursor: pointer;
    span {
        color:blue;
        text-decoration: underline;
    }
    
}

.tbtn:hover {

    span {
        color:darkblue;
        text-decoration: underline;
    }
}


.pro_con {
    height: 500vh;
    width: 80%;
    background-color: white;
    margin: 10px 20px;

    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

#accounting_pro_table {
    width: 100%;
}

table,
th,
td {
    border: 2px solid $l_grey_text;
    border-collapse: collapse;
    padding: 10px;
    font-size: $p_font;
}

th {
    color: $grey_text;
}

th:nth-child(1) {
    width: 70px;
}
th:nth-child(4) {
    width: 70px;
}
th:nth-child(5) {
    width: 100px;
}

tr:nth-child(even) {
    background-color: #f0f0f0;
}
