@import "../base/settings";

.top_bar {
    height: 50px;
    background-color: white;
    position: relative;
    width: 100%;
    top: 0px;
    // display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 10px;
    color: $grey_text;
}

.menu_btn {
    display: table-cell;
    height: 30px;
    float: left;
    vertical-align: bottom;
    transition: 0.1s;
    cursor: pointer;
}

.top_btns {
    float: right;
    margin: 5px 30px;

    img {
        height: 15px;
    }
}

.help_btn {
    cursor: pointer;
}
.settings_btn {
    cursor: pointer;
}
