.vouch_to {
  color: $dark;
  margin-left: 20px;
  margin-right: 10px;
  font-size: 1.2rem;
  font-weight: 600;
}
.det_cont_vouch {
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid rgb(172, 172, 172);
  border-radius: 2px;
  margin-bottom: 0.6rem;
  background-color: white;
  // box-shadow: 2px 2px 5px #a0a0a0;
  transition: 0.3s;
}
.det_cont_vouch:hover {
  box-shadow: 0px 2px 8px #a0a0a0;
}
.det_cont_jovouch {
  width: 100%;
  min-width: 50rem;
  height: 6.4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid rgb(172, 172, 172);
  border-radius: 2px;
  margin-bottom: 0.6rem;
  background-color: white;
  // box-shadow: 2px 2px 5px #a0a0a0;
  padding: 10px;
  transition: 0.3s;
}
.det_cont_jovouch:hover {
  box-shadow: 0px 2px 8px #a0a0a0;
}
.acc_name_vouch {
  color: $pri_color;
  font-size: 1.3rem;
  font-weight: 500;
}
.vouch_costumer_name {
  font-size: 1.3rem;
  color: $dark;
}
.acc_id_vouch {
  margin-right: 5px;
  color: $dark;
  font-size: 1.1rem;
}
.vouch_bill_detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 30rem;
  // border: solid black;
}
.det_cont_right_vouch {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 30rem;
}
.det_cont_right_jovouch_m {
  display: flex;
  flex-direction: column;
  // justify-content: space-evenly;
  // align-items: center;
  width: 35rem;
  margin-top: 8px;
  // border: solid black;
  height: 100%;
}

.acc_name_jovouch {
  color: $pri_color;
  font-size: 1.3rem;
  font-weight: 500;
}

.acc_right_vouch {
  font-size: 1.2rem;
  font-weight: 600;
  color: $dark;
}
.vouch_status {
  font-size: 1.2rem;
  color: red;
  font-weight: 600;
}
.pro_con_vouch {
  height: auto;
  min-height: 300px;
  width: 80%;
  margin: 10px 20px;
  min-width: 53rem;
}
.vouch_bills {
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
}
.jovouch_det {
  margin-left: 15px;
}
.det_cont_right_jovouch {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  width: 28rem;
  // border: solid black;
}
.det_cont_last_jovouch {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  // margin-right: 12rem;
  width: 20rem;
}
.vouc_det_left {
  width: 37rem;
  // border: solid black;
}
.vouch_right {
  width: 20rem;
  // border: solid black;
  margin-left: 2rem;
}
.vouch_amount {
  margin-left: 1rem;
}
.pad {
  padding: 10px;
  height: 100px;
}

.wrong_alert {
  //  border: solid black;
  padding: 10% 30%;
  font-size: 2rem;
}


#mode_selecter_pur{
  width: 7rem;
}

