.add_jovouch_con {
  background-color: white;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  box-shadow: 0px 0px 10px rgb(163, 163, 163);
  // height: 200vh;
  padding-bottom: 30px;
  margin-bottom: 100px;
}
.tbtn {
  cursor: pointer;
  span {
    color: blue;
    text-decoration: underline;
  }
}
.tbtn:hover {
  span {
    color: darkblue;
    text-decoration: underline;
  }
}

.jovouch_body {
  display: flex;
  flex-direction: row;
}

.add_jovouch_right_btns {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  width: 30%;

  p {
    height: 20px;
    cursor: pointer;
    color: $grey_text;
    margin-top: 22px;
    margin-right: 40px;
  }
}

.jovouch_body_right {
  border-left: 2px solid $l_grey_text;
  width: 40%;
}

.jovouch_details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.jovouch_si {
  margin: 6px 15px;

  span {
    color: $grey_text;
  }

  input {
    color: $l_grey_text;
    border: 1px solid $grey_text;
    padding: 1px 6px;
    font-size: 1rem;
    width: auto;
    text-align: center;
  }
  select {
    color: $l_grey_text;
    font-size: 1rem;
    border: 1px solid $grey_text;
    width: auto;
    padding: 1px 6px;
    text-align: center;
  }
}

#jovouch_bill_no {
  width: 110px;
  margin-right: 10px;
}
#jovouch_gr_no {
  width: 110px;
}
#jovouch_transport_name {
  width: 200px;
}
#jovouch_sup {
  width: 200px;
}
#jovouch_sup_agent {
  width: 200px;
}
#jovouch_comission {
  width: 60px;
  text-align: center;
}
#jovouch_customer {
  width: 200px;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.jovouch_customer {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  input {
    width: 70px;
  }
}

.jovouch_body_middle {
  margin-top: 10px;
  padding-top: 10px;
  // border-top: 2px solid $l_grey_text;
  display: flex;
  // width: 20rem;
  flex-direction: row;
  flex-wrap: wrap;

  input {
    width: 60px;
  }
}
#jovouch_pro_item {
  width: 140px;
  color: rgb(155, 155, 155);
}
#jovouch_pro_con {
  position: relative;

  ul {
    position: absolute;
    background-color: white;
    border: 1px solid #a0a0a0;
    box-sizing: border-box;
    padding: 0px 0px;
    width: 140px;
    top: 33px;
    left: 0px;
    border-top: none;
    box-shadow: 0 0 10px rgb(238, 238, 238);
  }

  li {
    // position: absolute;
    width: 100%;
    text-align: center;
    color: $grey_text;
    padding: 7px;
    cursor: pointer;
  }

  li:hover {
    background-color: rgb(231, 231, 231);
  }
}

#jovouch_add_btn {
  margin: 10px 20px;
  padding: 5px 30px;
  font-size: $p_font;
  color: $grey_text;
  border: 1px solid $grey_text;
  border-radius: 30px;
  background-color: white;
  cursor: pointer;
}

.jovouch_table_con {
  margin-top: 15px;
}

#jovouch_table {
  width: 100%;
}

.jovouch_plus {
  font-size: 2.3rem;
  margin-left: 10px;
}
.second_row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.jovouch_debit {
  margin: 5px 15px;

  span {
    color: $grey_text;
  }

  select {
    color: $l_grey_text;
    font-size: 1rem;
    border: 1px solid $grey_text;
    width: auto;
    padding: 2px 5rem;
    text-align: center;
    // width: 1;
  }
}
.pay_head {
  margin-top: 1rem;
  border-bottom: 2px solid $l_grey_text;
  width: 25rem;
  font-size: 1.3rem;
  margin-left: 15px;
}
.jovouch_plus_mode {
  font-size: 1.5rem;
}
.jovouch_payment_det {
  select {
    color: $l_grey_text;
    font-size: 1rem;
    border: 1px solid $grey_text;
    width: 100px;
    padding: 2px 10px;
    text-align: center;
    // width: 1;
  }
  input {
    color: $l_grey_text;
    border: 1px solid $grey_text;
    padding: 1px 6px;
    font-size: 1rem;
    width: 100px;
    text-align: center;
  }
}
.mode_head {
  margin-bottom: 8px;
}
.jovouch_amount {
  margin-left: 1rem;
  input[type="text"] {
    color: $l_grey_text;
    border: 1px solid $grey_text;
    // padding: 1px;
    font-size: 1rem;
    width: 10rem;
    // text-align: center;
    margin-left: 10px;
  }
}
.jovouch_balance {
  margin-left: 3rem;
}
.jovouch_add_btn_div {
  // margin-left: 4rem;
  padding: 4rem 15rem;
}
.jovouch_add_btn {
  font-size: 1.3rem;
  border-radius: 20px;
  color: $grey_text;
  width: 8rem;
  border: 1px solid $grey_text;
  cursor: pointer;
}
.jovouch_bill_list:hover #bill_cross_btn {
  display: block;
}
.jovouch_bill_list {
  position: relative;

  span {
    position: absolute;
    border: 1px solid $grey_text;
    border-radius: 30px;
    top: -10px;
    left: -13px;
    padding: 0px 7px 2px 7px;
    background-color: white;
    font-size: 20px;
    transform: rotateZ(45deg);
    cursor: pointer;
    display: none;
  }

  ul {
    position: absolute;
    background-color: white;
    border: 1px solid #a0a0a0;
    box-sizing: border-box;
    padding: 0px 0px;
    width: 200%;
    top: 16px;
    left: 0px;
    border-top: none;
    box-shadow: 0 0 10px rgb(238, 238, 238);
  }

  li {
    // position: absolute;
    width: 100%;
    text-align: center;
    color: $grey_text;
    padding: 7px;
    cursor: pointer;
  }

  li:hover {
    background-color: rgb(231, 231, 231);
  }
}
.bill_date {
  position: absolute;
  font-size: 12px;
  margin-left: 25px;
}
#jovouch_balance {
  border: none;
  text-align: left;
  font-size: 1.1rem;
}
#jovouch_amount {
  border: none;
  font-size: 1.1rem;
  text-align: left;
}
.paydet,
.paydet2,
.amount {
  margin-top: 8px;
}

.jovoamt:hover #amt_cross_btn {
  display: block;
}
.jovoamt {
  position: relative;
  padding-right: 50px;
}
#amt_cross_btn {
  position: absolute;
  border: 1px solid $grey_text;
  border-radius: 30px;
  top: 27px;
  right: 10px;
  padding: 0px 7px 2px 7px;
  background-color: white;
  font-size: 20px;
  transform: rotateZ(45deg);
  cursor: pointer;
  display: none;
}

.print {
  display: none;
  visibility: hidden;
}

.for_print_jovouch {
  border: solid black;
  padding: 0.5rem 2rem;
  margin-bottom: 2rem;
}
.for_print_jovouch_dup {
  // margin-top: 3rem;
  border: solid black;
  padding: 0.5rem 2rem;
}
.jovouch_right_q {
  width: 50rem;
  margin-left: 1rem;
  padding: 0 10rem;
  border-bottom: 1px solid black;
  font-size: 1.3rem;
  border-bottom-style: dotted;
}
.jovouch_right_pay {
  margin-left: 1rem;
  padding: 0 1rem;
  border-bottom: 1px solid black;
  font-size: 1.3rem;
  border-bottom-style: dotted;
}
.jovouch_left_q {
  font-size: 1.3rem;
  font-weight: 600;
}
.last_col {
  width: 5rem;
}
.print_table_jo {
  margin-top: 1rem;
  table {
    width: 40rem;
  }
  td {
    text-align: center;
  }
}
.less {
  width: 8rem;
}

.upper_entry_print {
  margin-bottom: 1rem;
}
.jovouch_upper_right {
  width: 50rem;
  margin-left: 1rem;
  padding: 0 1rem;
  border-bottom: 1px solid black;
  font-size: 1.3rem;
  border-bottom-style: dotted;
}
.print_upper_jo {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.upper_lefter {
  display: flex;
  flex-direction: column;
  // justify-content: ;
}
.upper_num {
  margin-bottom: 1rem;
}
.upper_rs {
  margin-top: 2.3rem;
}
@media print {
  .print {
    visibility: visible;
    display: unset;
    position: fixed;
    top: 1rem;
    left: 0.5rem;
  }
}
