.agency_page{
    display: flex;
    flex-direction: column;
}

.det_cont_invoice {
    width: 90%;
    min-width: 50rem;
    height: 6.4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid rgb(172, 172, 172);
    border-radius: 2px;
    margin-bottom: 0.6rem;
    background-color: white;
    // box-shadow: 2px 2px 5px #a0a0a0;
    padding: 10px;
    transition: 0.3s;

    img{
        height: 25px;
    }
  }

