.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: black;
  opacity: 0.5;
  z-index: 500;
}

.add_acc_con {
  height: 600px;
  width: 1000px;
  background-color: white;
  position: fixed;
  z-index: 550;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid 1px grey;

  box-shadow: 0px 5px 30px rgb(87, 87, 87);
}

.add_acc_head {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-bottom: 2px solid $pri_color;
  height: 50px;

  img {
    margin-top: 12px;
    margin-right: 30px;
    height: 20px;
    cursor: pointer;
  }

  h1 {
    height: 80%;
    padding: none;
    margin-top: 12px;
    margin-left: 30px;
    font-size: $h_font;
    color: $pri_color;
  }
}

.add_acc_body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: left;

  height: 80%;

  font-size: $p_font;
  color: $grey_text;
  padding: 30px 30px;
  // padding-top: 10px;
  // border: 1px solid black;

  h1 {
    margin: 0px 0px;
    font-size: $s_h_font;
    border-bottom: 1px solid $pri_color;
    color: $grey_text;
    font-weight: 100;
    text-align: start;

    span {
      font-size: $s_h_font;
    }
  }
}

input {
  border-radius: 4px;
  border: 1px solid $grey_text;
  border-bottom: 2px solid $l_grey_text;
  font-size: $s_p_font;
  outline: none;
  width: 180px;
  height: 30px;
  text-align: center;
  margin-left: 00px;
}

#reg_det_h {
  margin-top: 20px;
}
.add_acc_btn {
  // display: block;
  height: 40px;
  width: 30%;
  font-size: $h_font;
  background-color: $pri_color;
  border: none;
  color: white;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
}
.add_acc_can_btn {
  // display: block;
  border: 1px solid $grey_text;
  color: $grey_text;
  height: 40px;
  width: 30%;
  font-size: $h_font;
  background-color: transparent;
  cursor: pointer;
  margin-left: auto;
  border-radius: 30px;

  margin-right: auto;
}

.add_acc_btn:hover {
  background-color: $l_pri_color;
}
.add_acc_btn:active {
  background-color: $d_pri_color;
}

.add_acc_body_left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 30px;
  width: 50%;
  padding-bottom: 30px;
  // height: 440px;

  border-right: 1px solid $pri_color;
}
.add_acc_body_right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  margin-left: 30px;
  padding-bottom: 20px;
  padding-right: 10px;
}
.add_acc_obal {
  position: relative;
}

.add_acc_deb_cre {
  border: 1px solid black;
  width: 200px;
  display: flex;
  flex-direction: row;
  margin: 0px;

  height: 20px;

  span {
    margin: 0px;
  }
}

input:focus {
  // border-bottom: 1px solid green;
  outline: none;
}

#creditor {
  margin-left: 50px;
}
select {
  // padding: 3px;
  border-radius: 4px;
  border: 1px solid $grey_text;
  border-bottom: 2px solid $l_grey_text;
  font-size: $s_p_font;
  outline: none;
  width: 180px;
  height: 30px;

  text-align: center;
  margin-left: 00px;
}

.add_acc_body span {
  font-size: 15px;

  margin: 10px 0px;
}

.two_items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.two_itemss {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

input[type="radio"] {
  height: 15px;
  width: 15px;
}
.si {
  margin: 0rem 0px;
  span {
    margin-bottom: 2px;
  }
  input {
    margin-top: 2px;
  }
  select {
    margin-top: 2px;
    color: $grey_text;
  }

  input[type="text"],
  input[type="number"] {
    border-radius: 4px;
    border: 1px solid $grey_text;
    border-bottom: 2px solid $l_grey_text;
    font-size: $s_p_font;
    outline: none;
    width: 180px;
    height: 30px;
    text-align: center;
    margin-left: 00px;
  }
}

.checkboxes {
  position: absolute;
  top: 10px;
  // padding: 2px;
  border: 1px solid $grey_text;
  height: 30px;
  width: 60px;
  // border-radius: 3px;
  text-align: center;
  border-left: none;
  padding-top: 5px;
  color: $l_grey_text;
  border-bottom: 2px solid #c2c2c2;
}
.add_acc_inp_bal {
  border-bottom-right-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.checkboxe {
  position: absolute;
  top: 10px;
  // border-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  width: 60px;
  text-align: center;
  padding-top: 5px;
  left: 240px;
  // padding: 2px;
  border: 1px solid $grey_text;
  border-bottom: 2px solid #c2c2c2;
  border-left: none;
  height: 30px;

  color: $l_grey_text;
}

#add_acc_inp_add1 {
  width: 440px;
}
#add_acc_inp_add2 {
  width: 440px;
}

#add_acc_inp_mobnum {
  width: 50px;
}
#add_acc_inp_phonenum {
  width: 50px;
}

#add_acc_inp_phone {
  width: 180px;
}
#add_acc_inp_mob {
  width: 180px;
}

#bottom_btns {
  width: 50%;
  margin: auto;
}

#billing_add {
  padding-right: 10px;
  border-right: 1px solid $l_grey_text;
  cursor: pointer;
}

#shipping_add {
  margin-left: 20px;
  cursor: pointer;
}
.MuiOutlinedInput-root {
  height:27px;
  width:180px;
  position: relative;
  border: 1px solid #1f1f10 !important;  
  border-radius: 5px !important;
}