.add_vouch_con {
  background-color: white;
  width: 99%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 10px rgb(163, 163, 163);
  // height: 200vh;
  // padding-bottom: 100px;
  margin-bottom: 100px;
}
.tbtn {
  cursor: pointer;
  span {
    color: blue;
    text-decoration: underline;
  }
}
.tbtn:hover {
  span {
    color: darkblue;
    text-decoration: underline;
  }
}

.vouch_body {
  display: flex;
  flex-direction: row;
}

.add_vouch_right_btns {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  width: 30%;

  p {
    height: 20px;
    cursor: pointer;
    color: $grey_text;
    margin-top: 22px;
    margin-right: 60px;
  }
  img {
    margin-right: 40px;
  }
}

.vouch_body_right {
  border-left: 1px solid $l_grey_text;
  width: 50%;
}

.vouch_details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 10px 5px;
  // max-width: 900px;
}

.vouch_si {
  margin: 5px 15px;

  span {
    color: $grey_text;
  }

  input {
    color: $l_grey_text;
    border: 1px solid $grey_text;
    padding: 1px 6px;
    font-size: 1rem;
    width: 160px;
    text-align: center;
    height: 30px;
  }
  select {
    color: $l_grey_text;
    font-size: 1rem;
    border: 1px solid $grey_text;
    width: 90px;
    padding: 1px 6px;
    text-align: center;
    height: 30px;
  }
}

#vouch_bill_no {
  width: 110px;
}
#vouch_gr_no {
  width: 110px;
}
#vouch_transport_name {
  width: 160px;
}
#vouch_sup {
  width: 190px;
}
#vouch_sup_agent {
  width: 160px;
}
#vouch_comission {
  width: 60px;
  text-align: center;
}
#vouch_customer {
  width: 190px;
}
#vouch_hsn_num {
  width: 70px;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.vouch_customer {
  display: flex;
  flex-direction: row;
  padding: 5px 5px;
}

.vouch_body_middle {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid $l_grey_text;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  input {
    width: 60px;
  }
}
#vouch_amount {
  width: 80px;
}
#vouch_pro_item {
  width: 140px;
  color: rgb(155, 155, 155);
}
.vouch_customer_con {
  position: relative;
  ul {
    position: absolute;
    display: none;

    background-color: white;
    border: 1px solid #a0a0a0;
    box-sizing: border-box;
    padding: 0px 0px;
    width: 190px;
    top: 33px;
    left: 0px;
    border-top: none;
    box-shadow: 0 0 10px rgb(238, 238, 238);
    z-index: 20;
  }

  li {
    // position: absolute;
    width: 100%;
    text-align: center;
    color: $grey_text;
    padding: 7px;
    cursor: pointer;
  }

  li:hover {
    background-color: rgb(231, 231, 231);
  }
}
.vouch_sup_con {
  position: relative;
  ul {
    position: absolute;
    display: none;

    background-color: white;
    border: 1px solid #a0a0a0;
    box-sizing: border-box;
    padding: 0px 0px;
    width: 190px;
    top: 33px;
    left: 0px;
    border-top: none;
    box-shadow: 0 0 10px rgb(238, 238, 238);
    z-index: 20;
  }

  li {
    // position: absolute;
    width: 100%;
    text-align: center;
    color: $grey_text;
    padding: 7px;
    cursor: pointer;
  }

  li:hover {
    background-color: rgb(231, 231, 231);
  }
}
.vouch_sub_agnent_con {
  position: relative;
}
#subAgnet_list {
  position: absolute;
  display: none;

  background-color: white;
  border: 1px solid #a0a0a0;
  box-sizing: border-box;
  padding: 0px 0px;
  width: 160px;
  top: 33px;
  left: 0px;
  border-top: none;
  box-shadow: 0 0 10px rgb(238, 238, 238);
  z-index: 10;

  li {
    // position: absolute;
    width: 100%;
    text-align: center;
    color: $grey_text;
    padding: 7px;
    cursor: pointer;
  }

  li:hover {
    background-color: rgb(231, 231, 231);
  }
}

.vouch_transport_name_con {
  position: relative;
  ul {
    position: absolute;
    display: none;

    background-color: white;
    border: 1px solid #a0a0a0;
    box-sizing: border-box;
    padding: 0px 0px;
    width: 160px;
    top: 33px;
    left: 0px;
    border-top: none;
    box-shadow: 0 0 10px rgb(238, 238, 238);
    z-index: 10;
  }

  li {
    // position: absolute;
    width: 100%;
    text-align: center;
    color: $grey_text;
    padding: 7px;
    cursor: pointer;
  }

  li:hover {
    background-color: rgb(231, 231, 231);
  }
}
#vouch_pro_con {
  position: relative;
  ul {
    position: absolute;
    display: none;

    background-color: white;
    border: 1px solid #a0a0a0;
    box-sizing: border-box;
    padding: 0px 0px;
    width: 140px;
    top: 33px;
    left: 0px;
    border-top: none;
    box-shadow: 0 0 10px rgb(238, 238, 238);
    z-index: 10;
  }

  li {
    // position: absolute;
    width: 100%;
    text-align: center;
    color: $grey_text;
    padding: 7px;
    cursor: pointer;
  }

  li:hover {
    background-color: rgb(231, 231, 231);
  }
}

#vouch_add_btn {
  margin: 17px 20px 8px 20px;
  padding: 5px 30px;
  font-size: $p_font;
  color: $grey_text;
  border: 1px solid $grey_text;
  border-radius: 30px;
  background-color: white;
  cursor: pointer;
}

.vouch_table_con {
  margin-top: 15px;
}

#vouch_table {
  width: 100%;
}
table {
  border: 1px solid $l_grey_text;
  border-right: none;
  border-collapse: collapse;
  padding: 2px;
  font-size: $p_font;
  height: 40px;
}

th,
td {
  border: 1px solid $l_grey_text;
  border-collapse: collapse;
  padding: 4px;
  font-size: $p_font;
  height: 40px;
}

th {
  color: $grey_text;
}

th:nth-child(1) {
  width: 40px;
}
th:nth-child(3) {
  width: 90px;
}
th:nth-child(4) {
  width: 80px;
}
th:nth-child(5) {
  width: 70px;
}
th:nth-child(6) {
  width: 50px;
}
th:nth-child(8) {
  width: 60px;
}
th:nth-child(7) {
  width: 90px;
}
th:nth-child(9) {
  width: 60px;
}

tr:nth-child(even) {
  background-color: #f6f6f6;
}
.vouch_num_items {
  margin: 1rem;
  text-align: left;
  border: none;
  width: 88%;

  tr {
    background-color: white;
    border: none;
  }
  td {
    font-size: 14px;
    width: 80%;
    height: 30px;

    border: none;
  }
  .bold {
    font-weight: bold;
    text-align: right;
  }
}

.vouch_types_item {
  text-align: center;
}
.vouch_body_right {
  color: $grey_text;

  input[type="text"] {
    color: $l_grey_text;
    border: 1px solid $grey_text;
    padding: 1px 6px;
    font-size: 1rem;
    width: 6rem;
    text-align: center;
    margin-top: 2px;
  }
}
#add_sub_agent {
  margin-top: 30px;
}
#gst_con {
  position: relative;
}
#percentage_gst {
  position: absolute;
  top: 25px;
  right: 5px;
  color: $l_grey_text;
}
#percentage_dis {
  position: absolute;
  top: 25px;
  right: 8px;
  color: $l_grey_text;
}
#vouch_dicon {
  width: 50px;
  text-align: right;
  padding-right: 20px;
}

#vouch_gst {
  width: 50px;
  padding-right: 20px;
}
.vouch_edit_pencil {
  height: 25px;
}
.vouch_trash_can {
  height: 25px;
}
.tbtn {
  text-align: center;
}
.error_p {
  color: red;
  font-size: 10px;
  margin: 3px;
  display: none;
}
.add_discount_con {
  margin-top: 20px;
  border-top: 0.5px solid black;
  h3 {
    margin: 10px;
  }
}
.add_freight_con {
  margin-top: 20px;
  h3 {
    margin: 10px;
  }
}
#add_discount_input {
  width: 100%;
  margin-left: 0px;
}
#add_freight_input {
  width: 100%;
  margin-left: 0px;
}
.vouch_si_add_fre {
  margin-left: 20px;
  width: 30%;

  select {
    width: 100%;
  }
}
.vouch_si_add_dis {
  margin-left: 20px;
  width: 30%;

  select {
    width: 100%;
  }
}
.add_dis_btn_con {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  border-bottom: 0.5px solid black;
  padding: 0px 10px 20px 10px;
}
.add_fre_btn_con {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  border-bottom: 0.5px solid black;
  padding: 0px 10px 20px 10px;
}
#add_freight_remark_input {
  width: 100%;
  box-sizing: border-box;
}
#add_freight_addBtn {
  padding: 3px 15px;
  font-size: 15px;
  color: $grey_text;
  border: 1px solid $grey_text;
  border-radius: 30px;
  background-color: white;
  cursor: pointer;
  margin-left: 20px;
  margin-bottom: 4px;
  margin-top: 10px;
}
.relative {
  position: relative;
  height: 30px;
}

.crossBtn {
  position: absolute;
  width: 25px;
  height: 25px;

  border: 1px solid $grey_text;
  border-radius: 30px;
  top: 0px;
  left: -25px;

  padding: 0px 4px 0px 6px;
  background-color: white;
  font-size: 20px;
  transform: rotateZ(45deg);
  cursor: pointer;
  display: block;
}

.MuiOutlinedInput-root {
  position: relative;
  border: 1px solid #1f1f10 !important;  
  border-radius: 0px !important;
}