@import "../base/settings";

.menu_item_full {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  background-color: white;
  z-index: 200;
  // transform: translateY(-200vh);
  transition: transform 0.6s;
}

* {
  // overflow: hidden;
}

.menu_con {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}

li {
  font-size: 20px;
  padding: 10px;
  list-style: none;
  user-select: none;
  cursor: pointer;
  transition:transform 0.2s;
}

li:hover {
  transform: scale(1.1);
}

