body {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eeeeee;
    overflow: hidden;
}

.pageBody {
    overflow-y: scroll;
    height: 100vh;
}

* {
    box-sizing: border-box;
}

.pageBody {
    width: 100%;
}
