// colors

$pri_color: #29a8ab;
$d_pri_color: #1f888a;
$l_pri_color: #33d7da;
$body_back: #eeeeee;
$l_grey_text: #a2a2a2;
$dark: #383935;
$white_text: #f0f0f0;
$white_back: #ffffff;
$grey_text: #1f1f10;
$grey_back: #f3f5f8;

// font values **********

$heading_font: 62px Montserrat, Helvetica, Arial;
$heading_font_m: 42px Montserrat, Helvetica, Arial;
$head_let_spac: 0.14rem;

// font size

$p_font: 1rem;
$l_p_font: 1.5rem;
$s_p_font: 0.8rem;
$h_font: 1.5rem;
$s_h_font: 1.3rem;
$ss_h_font: 0.8rem;

$p_let_spac: 3px;
$h_let_spac: 5px;

$p_font_we: light;
$h_font_we: bolder;

$ff_1: times new roman;

$ff_2: aerial;
